html {
    box-sizing: border-box;
    font-family: Overpass, sans-serif;

}

*,
*:before,
*:after {
    box-sizing: inherit;
    font-family: inherit;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(216, 12%, 8%);

}

#rating-component,
#thanks-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    height: 400px;
    padding: 20px;
    border-radius: 10px;
    gap: 20px;
    background-color: hsl(213, 19%, 18%);
}

#thanks-component {
    display: none;
}

#thanks-component {
    align-items: center;
}

#icon button {
    background-color: hsla(0, 0%, 100%, 5%);
    border-style: none;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    padding: 0;
}

h1 {
    color: hsl(0, 0%, 100%);
    font-weight: 400;

}

p {
    color: hsl(216, 12%, 54%);
    font-size: 15px;
    line-height: 1.5;
}

#thanks-p {
    text-align: center;
}

#rating {
    display: flex;
    justify-content: space-between;
}

#rating button {
    background-color: hsla(0, 0%, 100%, 5%);
    border-style: none;
    border-radius: 50px;
    color: hsl(216, 12%, 54%);
    font-size: 1rem;
    padding: 0;
    height: 50px;
    width: 50px;
    transition: all 0.2s ease-in;
}

#rating button:hover:enabled {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}

#rating .selected {
    background-color: hsl(216, 12%, 54%);
    color: hsl(0, 0%, 100%);
}

#submit {
    align-self: center;
    width: 100%;
    background-color: hsl(25, 97%, 53%);
    color: hsla(0, 0%, 100%, 75%);
    border-radius: 30px;
    letter-spacing: 2px;
    font-size: 15px;
    width: 100%;
    padding: 15px 0;
    border-style: none;
    font-weight: 700;
    transition: all 0.2s ease-in;
}

#submit:hover {
    background: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
}

#thanks-img {
    max-width: 50%;
    max-height: 50%;
}

#rating-score {
    color: hsl(25, 97%, 53%);
    background-color: hsla(0, 0%, 100%, 5%);
    border-style: none;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 20px;
}



.attribution {
    font-size: 11px;
    text-align: center;
    color: hsl(216, 12%, 54%);
    margin-top: 20px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}